# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Local editor configuration
.vscode/

# Datasets
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Trained models
models/*
!models/.gitkeep

# Generated figures
reports/figures/*
!reports/figures/.gitkeep